<!DOCTYPE html>
<html id="html" style=" background-color:dimgray">
<head>
    <meta charset="utf-8" />
    <title>Sistema GCD</title>
    <link rel="stylesheet" href="css/vendor/w3.css" />
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
</head>

<body class="w3-light-grey">
    <div id="app" style=" background-color:dimgray">
        <br />
        <br />
        <br />
        <section class="container" style=" background-color: dimgray">
            <section class="login-form">
                <center>
                    <h1>Sistema de Gestion de Casos y Documentos</h1>
                </center>
                <h3>Ingrese Correo</h3>
                <input type="email" name="email" placeholder="Email" required class="form-control input-lg" v-model="selectedUsers.email" />
                <h3>Ingrese Contraseña</h3>
                <input type="password" name="password" placeholder="Password" required class="form-control input-lg" v-model="selectedUsers.pass" />
                <br />
                <button type="submit" name="go" class="btn btn-lg btn-primary btn-block" v-on:click="login">Iniciar Sesion</button>
                
                <div>
                    <a href="/Register.html">Crear Cuenta</a>
                </div>

                <div class="form-links">
                    <a href="#">www.website.com</a>
                </div>
            </section>
        </section>
    </div>

    <script src="js/vendor/vue.js"></script>
    <script src="js/Componets/top-header.js"></script>
    <script src="js/Componets/footers.js"></script>
    <script src="js/Login.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    
</body>
</html>