<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sistema GCD</title>
    <link rel="stylesheet" href="css/vendor/w3.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
</head>
<body class="w3-light-grey">
    <div id="app">
        <sidebar></sidebar>
        <div class="w3-main" style="margin-left:20px; margin-top:43px;">
            <!--Main Content-->
            <div class="w3-container">
                <h1>Detalle Role</h1>
                <button class="w3-btn w3-white w3-border w3-border-gray w3-text-black w3-round-large" v-on:click="openEditModal({},'NEW')">Agregar</button>
                <table class="w3-table w3-bordered">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th>Objeto</th>
                            <th>Accion Permitida</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in details">
                            <td>{{item.role_Name}}</td>
                            <td>{{item.sec_Object_Name}}</td>
                            <td>{{item.allowed_Action_Name}}</td>
                            <td> <button class="w3-btn w3-white w3-border w3-border-gray w3-text-black w3-round-large" v-on:click="DeleteDetails(item)">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="w3-modal" v-bind:style="{display: modalVisibility}">
                <div class="w3-modal-content">
                    <div class="w3-container">
                        <span v-on:click="closeModal" class="w3-button w3-display-topright">&times;</span>
                        <br>
                        <br>
                        <div class="w3-container w3-black">
                            <h2>{{gridDetails}} Detalle de Roles</h2>
                        </div>
                        <br>
                        Role
                        <br>
                        <select class="w3-select w3-border" v-model="selectedAction.id_Role">
                            <option v-for="option in Roles" v-bind:value="option.id">
                                {{ option.name }}
                            </option>
                        </select>

                        <br>
                        Objeto
                        <br>
                        <select class="w3-select w3-border" v-model="selectedAction.id_Sec_Object">
                            <option v-for="option in Objects" v-bind:value="option.id">
                                {{ option.name }}
                            </option>
                        </select>
                        <br>
                        Accion
                        <br>
                        <select class="w3-select w3-border" v-model="selectedAction.id_Allowed_Action">
                            <option v-for="option in Allowed_Actions" v-bind:value="option.id">
                                {{ option.name }}
                            </option>
                        </select>
                        <br>

                    </div>
                    <ul>
                        <li v-for="error in inputErrors">
                            {{error}}
                        </li>
                    </ul>
                    <br>
                    <button class="w3-btn w3-white w3-border w3-border-gray w3-text-black w3-round-large"
                            v-on:click="saveEdit">
                        Guardar
                    </button>
                    <button class="w3-btn w3-white w3-border w3-border-gray w3-text-black w3-round-large" v-on:click="closeModal">Cancelar</button>
                    <br>
                </div>
                <br>
            </div>
            <!--End Main Content-->
            <footers></footers>
        </div>
    </div>
    <script src="js/vendor/vue.js"></script>
    <script src="js/Componets/sidebar.js"></script>
    <script src="js/Componets/footers.js"></script>
    <script src="js/AutMixin.js"></script>
    <script src="js/Role_Detail.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
</body>
</html>